#head{
    background-color: #f3e9df;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.title{
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    font-size: 40px;
}
.daohang{
    flex: 1 1 auto;
    display: flex;
    font-size: 20px;
}
.btn_denglu{
    flex: 0 0 100px;
    background-color: aliceblue;
    border: 1px solid rgb(238, 214, 170);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    margin-right: 50px;
}