body{
    background-color: rgb(241, 241, 241);
}
#middle{
    height: 750px;
    width: 60%;
    margin: 0 auto;
}
.lunbo{
    margin-top: 20px;
    width: 100%;
    height: 100px;
}
.middle_title{
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
}
.line{
    height: 1px;
    width: 100%;
    background-color: rgb(143, 143, 143);
    margin-bottom: 5px;
}
.message{
    display: flex;
    justify-content: space-between;
}
.booksmessage{
    display: flex;
    flex-direction: column;
    width: 75%;
}
.books{
    display: flex;
    flex-wrap: wrap;
}
.book{
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book img{
    height: 160px;
    width: 125px;
}
.book .zuozhe,.book .booktitle{
    width: 125px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.guanggao{
    display: flex;
    justify-content: center;
    align-items: center;
}
.guanggao img{
    padding: 0 20px;
    width: 100%;
    height: 133px;
}
.paihangbang{
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 0.383);
    width: 300px;
}
.paihangbang_title{
    margin-left: 6px;
    font-size: 20px;
    font-weight: bold;
}
.line2{
    margin:6px 5px;
    height: 1px;
    width: 90%;
    background-color: rgb(161, 161, 161);
}
.paihangbang ul{
    margin: 0 6px;
    font-size: 14px;
}
.paihangbang ul li{
    display: flex;
    height: 50px;
    border-bottom:1px dashed rgb(197, 197, 197);
}
.paihangbang ul li:hover{
    background-color: rgb(231, 231, 231);
}
.paihangbang_bookname{
    flex: 0 0 70%;
    margin-left: 2px;
    color: #77adce;
}
.paihangbang_buy{
    transform: translate(20px,20px);
    height: 23px;
    color: rgb(126, 126, 126);

}
.paihangbang_buy:hover{
    border: 1px solid rgb(235, 173, 58);
    color: rgb(238, 177, 63);
    cursor: pointer;
}

#bottom{
    height: 100px;
    width: 60%;
    margin: 10px auto;
    border-top: 1px dashed rgb(197, 197, 197);
    border-bottom: 1px dashed rgb(197, 197, 197);
    display: flex;
    justify-content: space-around;
}
#bottom div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#bottom div img{
    width: 30px;
    height: 30px;
}

.banner{
    position: relative;/*相对定位 给绝对定位位置参考*/
    width: 100%;
    height: 120px;
    float: left;
}
.banner .item{
    display: none;/*隐藏元素*/
    position: absolute;/* 绝对定位*/
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}
/*左右按钮的属性设置*/
.lr-tab .btn{
    position: absolute;
    top: 40px;
    width: 41px;
    height: 69px;
    background: url("/image/icon-slides.png");
 
}
.lr-tab .left{
    left: 0px;
    background-position-x: -83px;
 
}
.lr-tab .right{
    right: 0px;
    background-position-x: -125px;
}
/*左右按钮触碰事件*/
.lr-tab .left:hover{
    background-position-x: 0px;
}
.lr-tab .right:hover{
    background-position-x: -41px;
}
/*圆形按钮属性设定*/
.tab-btn{
    position: absolute;
    right: 40px;
    bottom: 20px;
    width: 120px;
    height: 30px;
    top: 130px;
}
.tab-btn .btn{
    float: left;
    width: 6px;
    height: 6px;
    background: #868686;
    border: 2px solid #c3c3c3;/*边框*/
    margin-left: 10px;
    border-radius: 50%;
 }
/*圆形按钮触碰事件*/
.tab-btn .btn:hover{
    background: #e4e4e4;
    border-color:#7f7f7f;
}
.tab-btn .active{
    background: #e4e4e4;
    border-color:#7f7f7f;
}
