body{
    background: #f3e9df;
}


#logo_div{
    
    margin: auto;
    width: 80%;
    text-align: center;
    
    margin-top: 60px;
}

#lotit{
    font-size: 32px;
    display: block;
    margin-top:12px;
    color: #3f1800;
    font-weight: bold; 
}

#lotit2{
    font-size: 22px;
    display: block;
    margin-top: 20px;
    color: #3f1800;
    font-family: fantasy; 
}

#div_info{
    text-align: center;
    box-shadow:  1px 1px 4px 0.5px rgb(153, 153, 153);
    position: relative;
    margin: auto;
    /* height: 80px; */
    width: 88%;
    /* border: 2px black solid;  */
    background-color: white;
    /* height: 200px; */
    top: -12%;
    border-radius: 12px;
    padding-top: 20px;
    margin-top: 40px;
    padding-bottom:10px; 
}

.tst{
    font-weight: bold;
}

#inp_mail{
    padding-left: 6px;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-top: 30px;
    width: 250px;
}


#btn_sub{
    width: 265px;
    margin-top:30px; 
    height: 40px;
    border: none;
    background-color: #d89e63;
    color: white;
    font-size: 20px;
}

.txt{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
    color: rgb(161, 161, 161);
}