*{word-wrap:break-word}
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,button,input,textarea,th,td,fieldset{margin:0;padding:0}
ul,ol,dl{list-style-type:none}
html,body{*position:static}
html{font-family: sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:400}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button{overflow: visible;vertical-align:middle;outline:none}
body,th,td,button,input,select,textarea{font-family:"Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif,"WenQuanYi Micro Hei","\5B8B\4F53";font-size:12px;color: #333;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing:grayscale}
body{line-height:1.6}
h1,h2,h3,h4,h5,h6{font-size:100%}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:none;outline:none;color: #000;}
a:visited{color: #000;}
a:link{color: #000;}
a.ie6:hover{zoom:1}
a:focus{outline:none}
a:hover,a:active{outline:none}:focus{outline:none}
sub,sup{vertical-align:baseline}
button,input[type="button"], input[type="submit"] {line-height:normal !important}
/*img*/
img{border:0;vertical-align:middle}
a img,img{-ms-interpolation-mode:bicubic}
.img-responsive{max-width: 100%;height: auto}

/*导航栏*/
.text_title{
    position: relative;
    text-decoration: none;
    transition: color .3s ease;
}
.text_title::after {
  --scale: 0;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 2px;
  background: rgb(238, 177, 63);
  -webkit-transform: scaleX(var(--scale));
          transform: scaleX(var(--scale));
  -webkit-transform-origin: var(--x) 50%;
          transform-origin: var(--x) 50%;
  transition: -webkit-transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1);
  transition: transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.535, 0.05, 0.355, 1);
}
.text_title:hover {
  color: rgb(238, 177, 63);
}
.text_title:hover::after {
  --scale: 1;
}

body{
  background-color: rgb(241, 241, 241);
}
#head{
  background-color: #e9e9e2;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.logo_title{
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  font-size: 40px;
}
.logo_title img{
  width: 40px;
  margin-right: 5px;
}
.daohang{
  flex: 1 1 auto;
  display: flex;
  font-size: 20px;
}
.daohang_title{
  margin-left: 25px;
}
.daohang_title:hover{
  color: rgb(238, 177, 63);
  cursor: pointer;
}
.btn_denglu{
  flex: 0 0 100px;
  background-color: aliceblue;
  border: 1px solid rgb(238, 214, 170);
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin-right: 50px;
}